@model PRACTICASEJERCICIOS.APPMVCCodeFirst.Models.Alumno

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear nuevo alumno!!</h1>

<h4 class="text-secondary">Alumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-2" >

                <div class="form-group">
                    <label asp-for="Codigo" class="form-label fw-bold"></label>
                    <input asp-for="Codigo" class="form-control shadow-sm" placeholder="Ingrese el codigo" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Nombre" class="form-label fw-bold"></label>
                    <input asp-for="Nombre" class="form-control shadow-sm" placeholder="Ingrese su nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

            </div>

            <div class="row col-4">

                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="form-label fw-bold"></label>
                    <input asp-for="FechaNacimiento" class="form-control shadow-sm" placeholder="Ingrese su fecha de nacimiento" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="YearEstudio" class="form-label fw-bold"></label>
                    <input asp-for="YearEstudio" class="form-control shadow-sm" placeholder="Ingrese su año de estudio" />
                    <span asp-validation-for="YearEstudio" class="text-danger"></span>
                </div>

            </div>
            
            <div class="row col-10">
            <div class="form-group">
                    <label asp-for="Direccion" class="form-label fw-bold"></label>
                    <input asp-for="Direccion" class="form-control shadow-sm" placeholder="Ingrese su direccion" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Email" class="form-label fw-bold"></label>
                    <input asp-for="Email" class="form-control shadow-sm" placeholder="Ingrese su email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-dark">Regresar</a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
