@model PRACTICASEJERCICIOS.APPMVCDatabaseFirst.Models.Categoria

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear nueva categoría!!</h1>

<h4 class="text-secondary">Categoria</h4>
<hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
            <div class="form-group col-4">
            <label asp-for="Nombre" class="form-label fw-bold"></label>
            <input asp-for="Nombre" class="form-control shadow-sm" placeholder="Ingrese el nombre de la categoria" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
            <label asp-for="Descripcion" class="form-label fw-bold"></label>
            <input asp-for="Descripcion" class="form-control shadow-sm" placeholder="Ingrese la descripción" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
    </div>

    <hr />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-dark" /> |
                <a asp-action="Index" class="btn btn-warning">Regresar</a>
            </div>
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
