@model PRACTICASEJERCICIOS.APPMVCDatabaseFirst.Models.Categoria

@{
    ViewData["Title"] = "Eliminar";
}

<h1 class="display-4 text-center text-primary mb-4">Eliminar categoría!!</h1>

<h2>¿Desea eliminar la categoría?</h2>
<div>
    <h4 class="text-secondary">Categoria</h4>
    <hr />
    <dl class="row align-items-center">
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
