@model PRACTICASEJERCICIOS.APPMVCDatabaseFirst.Models.Categoria

@{
    ViewData["Title"] = "Detalle";
}

<h1 class="display-4 text-center text-primary mb-4">Ver detalle de categoría!!</h1>

<div>
    <h4 class="text-secondary">Categoria</h4>
    <hr />
    <dl class="row align-items-center">
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark">Editar</a> |
    <a asp-action="Index" class="btn btn-warning">Regresar</a>
</div>
