@model PRACTICASEJERCICIOS.APPMVCDatabaseFirst.Models.Empleado

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear nuevo empleado!!</h1>

<h4 class="text-secondary">Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Nombre" class="form-label fw-bold"></label>
                <input asp-for="Nombre" class="form-control shadow-sm" placeholder="Ingrese su nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Puesto" class="form-label fw-bold"></label>
                <input asp-for="Puesto" class="form-control shadow-sm" placeholder="Ingrese su puesto" />
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Telefono" class="form-label fw-bold"></label>
                <input asp-for="Telefono" class="form-control shadow-sm" placeholder="Ingrese su telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-dark" /> |
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
